@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #222;
  --navbar-primary: #7c2d12;
  --navbar-secondary: #575757;
  --navbar-hover: #fdebd6;
  --footer-bg: #1f2937;
  --footer-link: #dbeafe;
  --footer-hover: #fbbf24;
  --btn-primary: #9a3412;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-navbar-primary: var(--navbar-primary);
  --color-navbar-secondary: var(--navbar-secondary);
  --color-navbar-hover: var(--navbar-hover);
  --color-footer-bg: var(--footer-bg);
  --color-footer-link: var(--footer-link);
  --color-footer-hover: var(--footer-hover);
  --color-btn-primary: var(--btn-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  
}

body {
  line-height: 1.5;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  min-height: 100vh;
}

/* Custom gradient for Navbar */
.navbar-gradient {
  background: linear-gradient(180deg, #fff8ef 0%, #ffffff 100%);
}






























